.footer {
  margin: 4rem 0 0;
  border-top: 0.1rem solid $paper-white;

  @include mq($from: 'mobile') {
    padding: 1.2rem 0 3.2rem;
  }

  @include mq($until: 'mobile') {
    padding: 0.6rem 0 3.2rem;
  }

  .logo {
    @include mq($from: 'mobile') {
      display: flex;
      justify-content: flex-end;
    }

    @include mq($until: 'mobile') {
      margin-top: 1.2rem;
    }

    img {
      margin-top: 1.6rem;
      width: 12rem;
    }
  }

  .menu, .extra {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      li {
        a {
          display: inline-block;
        }
      }
    }
  }

  .menu {
    margin-top: 1.6rem;

    ul {
      li {
        a {
          padding: 0.4rem 0;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }

  .extra {
    margin-top: 2.2rem;
  }
}