// simplify rem font size handling
html {
  font-size:62.5%;
}

body {
  font-family: $font-family;
  color: $dark-grey;
  line-height: 1.4;
}

h1 {
  font-size: ms(5);
  line-height: 1.2;
  margin-bottom: 1.2rem;

  @include mq($until: 'mobile') {
    font-size: ms(3);
  }
}

h2 {
  font-size: ms(3.2);
  line-height: 1.2;
  margin-bottom: 1.6rem;

  @include mq($until: 'mobile') {
    font-size: ms(2);
  }
}

h3 {
  font-size: ms(2);
  line-height: 1;
  margin-bottom: 1.6rem;

  @include mq($until: 'mobile') {
    font-size: ms(1.6);
  }
}

h4 {
  font-size: ms(1.6);
  line-height: 1;
  margin-bottom: 1.6rem;

  @include mq($until: 'mobile') {
    font-size: ms(1.2);
  }
}

h5 {
  font-size: ms(1.2);
  line-height: 1;
  margin-bottom: 0.6rem;

  @include mq($until: 'mobile') {
    font-size: ms(0.8);
  }
}

h6 {
  font-size: ms(0.8);
  line-height: 1.2;
  margin-bottom: 0.6rem;

  @include mq($until: 'mobile') {
    font-size: ms(0.6);
  }
}

h1, h2, h3, h4, h5 {
  a:empty {
    display: inline-block;
    padding-top: 7.2rem;

    &:before {
      content: '#';
      display: inline-block;
      font-size: 1em;
    }
  }
}

p, pre {
  font-size: ms(0.6);
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-weight: $font-weight-regular;

  @include mq($until: 'mobile') {
    font-size: ms(0.2);
  }
}

ul, ol {
  font-size: 1.6rem;
}

p, li {
  hyphens: auto;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: darken($primary, 10%);
    text-decoration: underline;
  }
}

blockquote {
  font-family: Georgia, serif;
  background: lighten($paper-white, 3%);
  border-left: 10px solid $paper-white;
  margin: 1.6rem 1rem 3.2rem;
  padding: 1.6rem 1rem;
  quotes: "\201C""\201D""\2018""\2019";

  &::before {
    color: $light-grey;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }
}

