  <footer id="footer">
  <div class="wrap">
    <a href="/"><img class="logo" src="/img/logo/riot120x.png"></a>
    <nav>
      <a href="/v2/">Riot v2</a>
      <a href="/v1.0">Riot v1</a>
      <a href="/forum/">Forum</a>
      <a href="/online-compiler">Online Compiler</a>
      <a target="_blank" href="https://opencollective.com/riot/">
        Buy us a coffee :coffee:
      </a>
    </nav>
    <nav class="extra">
      <a target="_blank" href="{{ site.repo }}"><img title="Riot on github" src="https://img.shields.io/badge/GITHUB-REPO_%E2%86%92-fc0e49.svg?style=flat-square"></a>
      <a target="_blank" href="{{ site.twitter_account }}"><img title="follow riot.js on twitter" src="https://img.shields.io/twitter/follow/riotjs_.svg?style=flat-square"></a>
      <a target="_blank" href="{{ site.gitter }}"><img title="Join the chat at https://gitter.im/riot/riot" src="https://img.shields.io/badge/GITTER-JOIN_CHAT_%E2%86%92-1dce73.svg?style=flat-square"></a>
    </nav>
  </div>
</footer>