<grid class="hero" columns="12">
  <c span="4-9" span-s="3-10">
    <img src="/img/logo/square.svg">
  </c>
  <c span="row">
    <h1>Simple and elegant component-based UI library</h1>
    <p>Custom tags • Enjoyable syntax • Elegant API • Tiny size</p>
  </c>
  <c span="row">
    <nav>
      <ul>
        <li>
          <a href="/documentation">Documentation</a>
        </li>
        <li>
          <a href="/api">API</a>
        </li>
        <li>
          <a href="/download">Download</a>
        </li>
      </ul>
    </nav>
  </c>
</grid>